{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/jpg" href="{% static 'simba_app/img/logo-simba.png'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simba - Login Form </title>
    <link rel="stylesheet" href="{% static 'simba_app/style/bootstrap/bootstrap.min.css' %}" />

    <style>
        @import url('{% static "simba_app/poppins-400-600.css"%}');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-image: url("{% static 'simba_app/img/sidebar-bg.gif'%}");
        }

        .card,
        .btn {
            border-radius: 20px !important;
        }
    </style>
</head>
{% if error %}
    <script>alert('Error')</script>
{% endif %}
<body class="main-bg">
    <!-- Login Form -->
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow border-light">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3">Connexion</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="id_username" class="form-label">Nom d'utilisateur</label>
                                <input type="text" name="username" class="form-control" required id="username" />
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" name="password" class="form-control" required id="password" />
                            </div>
                            <div class="d-grid">
                                <button type="submit" value="Login" class="btn btn-warning text-light"><strong>Se
                                        connecter</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>